.Krik1 {
    width: 1000px;
    height: 1600px;
    background-color: rgb(250, 141, 68);
    margin-left: 300px;
}

.krik1text {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}